.App {
  min-height: 100vh; /* Ensures the background covers the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #99cff8, #f7fbff, #99cff8);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App Container */
.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Navigation */
.app__nav {
  background-color: #007bff;
  padding: 10px;
}

.app__nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.app__nav-item {
  margin: 0 15px;
}

.app__nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.app__nav-link:hover {
  text-decoration: underline;
}

/* Content */
.app__content {
  padding: 20px;
}
